# 依賴目錄
node_modules/
dist/
.DS_Store

# 環境文件 
.env
.env.local
.env.*.local

# 例外允許示例環境文件
!.env.example

# 日誌文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 編輯器目錄和文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 本地歷史文件夾
.history/

# 構建產物
/dist/
/build/

# 其他
.cache/
.temp/
.tmp/ 